* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/*************MENU****************/

nav li a {
    text-decoration: none;
    color: black;
    background: darkmagenta;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
}

nav li {
    display: inline;
    margin: 10px;
}

nav ul {
    text-align: end;
}

