* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/*************REUSABLE****************/


.bg-red {
    background-color: red;
}
    
.bg-green {
        background-color: green;
}
    
.bg-yellow {
        background-color: yellow;
}

.yellow-txt {
    color: yellow;
}

.green-txt {
    color: green;
}


/*************MENU****************/

header {
    opacity: 100%;
    position: fixed;
    z-index: 99;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
}

header nav li {
    margin: 10px;
    display: inline-block;
}

/*************SEZIONI****************/

section {
    height: 100vh;
    position: relative;
}

section .contenitore {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section .contenitore img {
    width: 100%;
}

section .contenitore .spot {
    width: 100%;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    padding-top: 50px;
}

